<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" />
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
</head>
<body>

<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important; margin: auto;padding-top: 200px">
    <div class="ur m-container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <!--                        <img src="assets/images/logo.png" class="image">-->
                    <div class="content">
                        管理后台登陆
                    </div>
                </h2>
                <div class="ui form">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input id="phoneNum" type="text" name="phoneNum" placeholder="请输入手机号码">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="text" id="code" name="code" placeholder="请输入验证码">
                                <button class="ui teal mini button" onclick="getCode()">获取验证码</button>
                            </div>
                        </div>
                        <button type="submit" class="ui fluid large teal button" onclick="check()">登录</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>

    var layer = layui.layer;

    $('.ui.form').form({
        fields : {
            username : {
                identifier : 'username',
                rules : [{
                    type : 'empty',
                    prompt : '请输入用户名'
                }]
            },
            password : {
                identifier : 'password',
                rules : [{
                    type : 'empty',
                    prompt : '请输入密码'
                }]
            }
        }
    });

    function getCode(){
        var phoneNum = $('#phoneNum').val();
        if(phoneNum==null || phoneNum.length==0){
            layer.msg("手机号码不能为空")
        }else{
            $.ajax({
                url:"/flight/phoneLogin",
                data:{"phoneNum":phoneNum},
                type:"get",
                success:function (result){
                    layer.msg(result.msg);
                }
            })
        }
    }

    function check(){
        $.ajax({
            url: "/flight/phone/check",
            data: {"code":$('#code').val()},
            success: function () {
                layer.msg("登陆成功")
                window.location="index"
            }
        })
    }
</script>

</body>
</html>